@font-face {
    font-family: 'Shantell Sans';
    src: url('ShantellSans[BNCE,INFM,SPAC,ital,wght].woff2');
}

html {
    font-family: 'Shantell Sans', serif;
    margin: auto;
    background: plum;
    max-width: 45em;
}

body {
    padding: 1em;
    background: white;
}